<div class="container align-items-center mt-5">
  <div class="row align-items-center">
    

    <div class="col-xs-10 col-lg-5 container">
      <div class="row">        
        <div *ngIf="error">
          <div class="alert alert-danger" role="alert">
            Usuario o contraseña incorrectos
          </div>
        </div>
        <div class="mb-3 row">
          <label for="staticEmail" class="col-lg-3 col-form-label">Usuario</label>
          <div class="col-lg-9  ">
            <input #usuario type="text" class="form-control" placeholder="Usuario">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-lg-3 col-form-label">Contraseña</label>
          <div class="col-lg-9">
            <input #contrasena type="password" class="form-control" placeholder="*********">
          </div>
        </div>
        <div class="col-12 text-center mt-3">
          <button (click)="onLogInUsuario(usuario.value, contrasena.value)" type="button"
            class="btn theme-btn-warning col-8">Ingresar</button>
        </div>       
      </div>
    </div>
  </div>
</div>
